body {
    background-color: #ededed;
    margin: 0;
}

nav {
    background-color: #003049;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

header {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.container_nav_logo img{
    width: 100px;
}
.container_nav_logo {
    margin-left: 20px;
}

.container_nav_menu {
    display: flex;
    margin-right: 20px;
}
.container_nav_menu ul{
    display: flex;
    gap: 50px;
    flex-direction: row;
    list-style: none;
}
.container_nav_menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcbf49;
    padding: 15px;
    border-radius: 15px;
    min-width: 200px;
}
.container_nav_menu a {
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.container_conteudo_filtros ul{
    display: flex;
    gap: 20px;
    flex-direction: row;
    list-style: none;
}
.container_conteudo_filtros li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f77f00;
    padding: 8px 18px 8px 18px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}
.container_conteudo_filtros a {
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
}

.container_conteudo_planilha_produto, .container_conteudo_planilha_movimentacao_produto {
    margin-top: 20px;
}

.container_conteudo_planilha_produto th, .container_conteudo_planilha_movimentacao_produto th {
    background-color: #fcbf49;
    padding: 10px;
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    min-width: 150px;
}

.container_planilha_produto_dados td, .container_planilha_movimentacao_produto_dados td {
    background-color: #f6e3a2;
    padding: 10px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.container_planilha_produto_dados a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container_planilha_produto_dados a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.texto_vermelho {
    color: red;
    font-weight: bold;
    font-size: inherit;
}

.produto_especificacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 40px;
    gap: 30px;
}

.container_produto_especificacoes_imagem img {
    width: 140px;
    background-position: center;
}

.container_produto_especificacoes_imagem {
    padding: 20px;
    background-color: #fcbf49;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_produto_especificacoes_dados h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: bolder;
    text-align: center;
}
.container_produto_especificacoes_dados p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}
.container_produto_especificacoes_dados span {
    font-weight: bold;
}

.container_produto_especificacoes_dados {
    padding: 20px;
    background-color: #f6e3a2;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_produto_especificacoes_botao {
    margin-top: 10px;
    padding: 12px;
    background-color: #f77f00;
    border: 2px solid #f77f00;
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}
.container_produto_especificacoes_botao:hover {
    background-color: #ededed;
    color: #f77f00;
    border: 2px solid #f77f00;
    transition: background-color 0.3s ease, color 0.3s ease;
}